
body {background-color: white}
/* p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; line-height: 14.0px; font: 12.0px Times; color: #000000; -webkit-text-stroke: #000000; min-height: 12.0px} */
span.s1 {font-kerning: none}
.logo {
  font: 55px Verdana;
  color: #0f7001;
  float:left;
  position: absolute;
  top:9vh;
  left:10vw;
}
h1 {
  margin: 0.0px 0.0px 16.0px 16.0px;
  padding: 3vh 2vw;
  text-align: center;
  line-height: 26px;
  font: 38px Georgia;
  color: black;
  -webkit-text-stroke: #fb0007;
  position: relative;
  top: 15vh;
  border-top: 2px solid DarkSeaGreen;
}

span.s2 {font-kerning: none}
{
  font: 24px Verdana;
  color: #0f7001;
  float:left;
  position: absolute;
  top:9vh;
  left:10vw;
}

h2 {
  margin: 0.0px 0.0px 16.0px 16.0px;
  padding: 3vh 2vw;
  text-align: center;
  line-height: 26px;
  font: 24px Georgia;
  color: black;
  -webkit-text-stroke: #fb0007;
  position: relative;
  top: 15vh;
  border-top: 2px solid DarkSeaGreen;
}

.searchbar{
  position: absolute;
  top:10vh;
  left:30%;
}
.searchbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  width: 40vw;
  border: 2px solid LightGray;
  border-radius: 5px 0px 0px 5px;
}
.searchbar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: DarkSeaGreen;
  font-size: 23px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
p.p3 {
  margin: 0.0px 0.0px 14.9px 0.0px;
  text-align: center;
  line-height: 22.0px;
  font: 14.0px Times;
  color: #0f7001;
  -webkit-text-stroke: #0f7001;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.topnav {
  overflow: hidden;
  background-color: DarkSeaGreen;
  padding-right: 10vw;
}
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 7px 20px;
  text-decoration: none;
  font: 17px Verdana;
  border-left: 1px solid #e3eee3;
}
.topnav a:hover {
  background-color: white;
  color: #0f7001;
}
.container {
  position: relative;
  top:13vh;
  text-align: center;
  color: black;
}
.invoiceContainer {
  position: absolute;
  top:0vh;
  bottom:0.5vh;
  left:50vh;
  right:50vh;
  text-align: center;
  color: black;
  background-color: white;
}
.customer {
  position: absolute;
  top: 5vh;
  right: 20vw;
  font-size: 28px;
  padding: 5vh 5vh;
  border: 2px solid white;
  border-radius: 10px;
  background-color: White;
}
